/* mobile */
@media (min-width: 320px) and (max-width: 700px) {
  .page-footer {
    display: none;
  }
  .page-footer__inner-wrapper {
    margin: 0 auto;
    width: 100vw;
    padding: 0;
  }
}
/* tablet */
@media (min-width: 700px) and (max-width: 1200px) {
  .page-footer__inner-wrapper {
    margin: 0 auto;
    width: 100vw;
    padding: 0;
  }
}
