/* .slider-slides{
    width: 300%;
    transition: transform .8s ease;
}
.slider-control {
  width: 100%;
  height: 12px;
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: @text-align;

}

.slider-control input[type=radio] {
    display: none;
}

.slider-controls label {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 7px;
    background-color: #bec2c7;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
    transition: background-color .2s;

&:last-child {
  margin-right: 0;
}
    &:hover {background-color: #858c95;}
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
      width: 12px;
      height: 12px;
      background-color: @bg-white;
      border: 3px solid #273544;
}
#btn-1:checked ~ .review__slider-wrapper.slider-slides {
  transform: translateX(0);
}
#btn-2:checked ~ .review__slider-wrapper.slider-slides {
  transform: translateX(-100vw);
}
#btn-3:checked ~ .review__slider-wrapper.slider-slides {
  transform: translateX(-200vw);
}
//------------------------- end of mobile ----------------//
tablet

@media (min-width: 700px) and (max-width: 1200px) {
 .slider-control {
   width: 120px;
   height: 12px;
   padding-top: 30px;
   padding-bottom: 60px;
   margin: 0 auto;
   text-align: @text-align;

   &__item {
     display:inline-block;
     width: 6px;
     height: 6px;
     margin: 0;
     margin-right: 14px;
     background-color: #bec2c7;
     border-radius: 50%;
     cursor: pointer;
     vertical-align: middle;

     &--active {
       width: 12px;
       height: 12px;
       background-color: @bg-white;
       border: 3px solid #273544;

       &:hover {
         background-color: @bg-white;
       }
     }


   &:hover {
     background-color: #858c95;
   }

   &:active {
     background-color: #e9ebec;
   }


   &__panel--disabled{
     display: none;
   }
  }
}
//------------------------- end of mobile ----------------//
tablet

@media (min-width: 1200px) and (max-width: 1440px) {
.slider-control {
  width: 120px;
  height: 12px;
  padding-top: 30px;
  padding-bottom: 60px;
  margin: 0 auto;
  text-align: @text-align;

  &__item {
    display:inline-block;
    width: 6px;
    height: 6px;
    margin: 0;
    margin-right: 14px;
    background-color: #bec2c7;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;

    &--active {
      width: 12px;
      height: 12px;
      background-color: @bg-white;
      border: 3px solid #273544;
    }
  }

  &__panel--disabled{
    display: none;
  }
}
}
}

//------------------------- end of tablet ----------------//
desktop

@media (min-width: 1200px) and (max-width: 1440px) {

.slider-control {
  display: none;
}
}
 */
