// contacts:

/* mobile */

.contacts {
  position: relative;
  background-color: @bg-white;

  &:before {
    position: absolute;
    left:0;
    bottom:-(33/320)*100vw;
    height: (34/320)*100vw;
    width: 50.05%;
    background-image:
    linear-gradient(11deg,  transparent (32/320)*100vw,  white (32/320)*100vw);
    z-index: 2;
  }

  &:after {
    position: absolute;
    right:0;
    bottom:-(33/320)*100vw;
    height: (34/320)*100vw;
    width: 50.09%;
    background-image:
    linear-gradient(-11deg,  transparent (32/320)*100vw,  white (32/320)*100vw);
    z-index: 2;
  }

  &__inner-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  &__header-h2 {
    padding: 25px 10% 0;
    color: @text-color-dark-blue;
    font-size: @text-size-big;
    font-weight: @font-weight-light;
    line-height: @line-height+4px;
    text-align: @text-align;
  }

  &__list {
    margin: 0;
    padding: 0 0 38px;
  }

  &__item {
    list-style: @list-style;
    text-align: @text-align;
    margin: 0;
    padding:0;
  }

  &__name {
    margin-bottom: 0;
    color: @text-color-dark-blue;
    font-size: @text-size-middle;
    font-weight: @font-weight-bold;
    line-height: @line-height;
    padding-bottom: 5px;
    text-align: @text-align;
  }

  &__detail {
    color: @text-color-pink;
    font-size: @text-size-big;
    font-weight: @font-weight-light;
    line-height: @line-height - 2px;
    margin: 0 auto;
    padding-bottom: 8px;
    text-align: @text-align;
  }

  &__email {
    text-decoration: @text-decoration;
    color: @text-color-pink;

    &:hover {
      text-decoration: underline;
      color: @text-color-dark-blue;
    }
    &:active {
      opacity: .3;
      text-decoration: @text-decoration;
    }
  }
}

//------------------------- end of mobile ----------------//

/* tablet */

@media (min-width: 700px) and (max-width: 1200px) {

  .contacts {
    margin: 0;
    padding: 0;

    &__inner-wrapper {
      width: 90%;
    }

    &__header-h2 {
      padding: 50px (100/700)*100% 0;
      margin: 0;
      font-size: @text-size-big--tab;
      line-height: @line-height--tab;
    }

    &__list {
      margin: 0;
      padding:0;
      padding-bottom: 25px;
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      flex-grow: 1;
      width: (300/700)*100%;
      margin-top: 30px;
    }

    &__name {
      padding-bottom: 5px;
    }

    &__detail {
      line-height: @line-height+6px;
      text-align: @text-align;
      padding-bottom: 25px;

      &:last-child {
        padding-bottom: 5px;
      }
    }
  }
}

//------------------------- end of tablet ----------------//
/* desktop > 1200*/

@media (min-width: 1200px) {

  .contacts {
    margin: 0;
    padding: 0;


    &__inner-wrapper {
      width: 960px;
    }

    &__header-h2 {
      margin: 0;
      padding: 65px 170px 0;
      font-size: @text-size-big--desk;
      line-height: @line-height--desk;
    }

    &__list {
      display: flex;
      flex-direction: row;
      padding:0;
      padding-bottom: 0;
    }

    &__item {
      width: 320px;
      margin-top: 35px;

      &:nth-child(2) {
        order: 3;
      }

      &:nth-child(3) {
        order: 2;
      }
    }

    &__name {
      margin-bottom: 22px;
    }

    &__detail {
      line-height: @line-height+6px;

      &:last-child {
        padding-bottom: 5px;
      }
    }
  }
}

//------------------------- end of desctop 1200 1440 ----------------//
