// contacts:

/* mobile */
@media (min-width: 320px) and (max-width: 700px) {

.contacts {
  position: relative;

  &__inner-wrapper {
    width: 100vw;
    margin: 0 auto;
  }

  &__header-h2 {
    color: @text-color-dark-blue;
    font-size: @text-size-big;
    font-weight: @font-weight-light;
    line-height: @line-height+4px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 5px;
    text-align: @text-align;
    background-color: @bg-white;
  }

  &__list {
    margin: 0 auto;
    padding:0;
    padding-top: 15px;
    background-color: @bg-white;
    padding-bottom: 10px;
  }


  &__item {
    list-style: @list-style;
    text-align: @text-align;
    margin: 0;
  }

  &__name {
    color: @text-color-dark-blue;
    font-size: @text-size-middle;
    font-weight: @font-weight-bold;
    line-height: @line-height;
    margin: 0 auto;
    padding-bottom: 5px;
    text-align: @text-align;
  }

  &__detail {
    color: @text-color-pink;
    font-size: @text-size-big;
    font-weight: @font-weight-light;
    line-height: @line-height;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: @text-align;
  }

  &__email {
    text-decoration: @text-decoration;
    color: @text-color-pink;
  }
}
.contacts::before {
  position: absolute;
  left:0;
  bottom:-(33/320)*100vw;
  height: (34/320)*100vw;
  width: 50.01%;
  background-image:
  linear-gradient(11deg,  transparent (32/320)*100vw,  white (32/320)*100vw);
  z-index: 2;
}

.contacts::after {
  position: absolute;
  right:0;
  bottom:-(33/320)*100vw;
  height: (34/320)*100vw;
  width: 50.01%;
  background-image:
  linear-gradient(-11deg,  transparent (32/320)*100vw,  white (32/320)*100vw);
  z-index: 2;
}
}

//------------------------- end of mobile ----------------//

/* tablet */

@media (min-width: 700px) and (max-width: 1200px) {

.contacts {
  position: relative;

  &__header-h2 {
    color: @text-color-dark-blue;
    font-size: @text-size-big--tab;
    font-weight: @font-weight-light;
    line-height: @line-height--tab;
    margin: 0 auto;
    padding-top: 45px;
    text-align: @text-align;
    background-color: @bg-white;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: @list-style;
    padding:0;
    background-color: @bg-white;
    margin:0;
    padding-bottom: 25px;
  }


  &__item {
    flex-grow: 1; 
    width: (295/700)*100vw;
    margin-top: 50px;   
  }

  &__name {
    color: @text-color-dark-blue;
    font-size: @text-size-middle;
    font-weight: @font-weight-bold;
    line-height: @line-height;
    margin: 0 auto;
    padding-bottom: 5px;
    text-align: @text-align;
  }

  &__detail {
    color: @text-color-pink;
    font-size: @text-size-big;
    font-weight: @font-weight-light;
    line-height: @line-height;
    margin: 0 auto;
    text-align: @text-align;
  }

  &__email {
    text-decoration: @text-decoration;
    color: @text-color-pink;
  }
}
.contacts::before {
  position: absolute;
  left:0;
  bottom:-(33/320)*100vw;
  height: (34/320)*100vw;
  width: 50.01%;
  background-image:
  linear-gradient(11deg,  transparent (32/320)*100vw,  white (32/320)*100vw);
  z-index: 2;
}

.contacts::after {
  position: absolute;
  right:0;
  bottom:-(33/320)*100vw;
  height: (34/320)*100vw;
  width: 50.01%;
  background-image:
  linear-gradient(-11deg,  transparent (32/320)*100vw,  white (32/320)*100vw);
  z-index: 2;
}
}

//------------------------- end of tablet ----------------//