// download:
@media (min-width: 320px) and (max-width: 700px) {

.download {

  background-color: @bg-dark-blue;
  color: @text-color-white;
  width: 100vw;
  padding-top: 27px;


  &__inner-wrapper {
    margin: 0 auto;
    width: auto;
  }

  &__btn {
    display:block;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 15px 35px;
    color: @text-color-white;
    font-weight: @font-weight-bold;
    text-align: @text-align;
    text-decoration: @text-decoration;
    font-size: @text-size-middle;
    border: 3px solid @border-color;
    border-radius: 30px;
    cursor: pointer;
    &:hover{
      background-color: @bg-white;
      color: @text-color-pink;
    }
    &:active{
      background-color: @bg-white;
      color:  @text-color-pink--active;
    }
  }

   &__icons {
    height: 57px;
    width: 205px;
    display:block;
    margin: 0 auto;
    background-image: url("@{patch}/sprite.png");
    margin-bottom: 20px;
  }

  &__text {
    font-size: @text-size;
    font-weight: @font-weight-light;
    line-height: @line-height;
    padding: 0 37px;
    padding-bottom: 35px;
    margin-bottom: 0;
    text-align: @text-align;

  }
}
}

//------------------------- end of mobile ----------------//

/* tablet */

@media (min-width: 700px) and (max-width: 1200px) {

 .download {
  position: absolute;
  top: 377px;
  color: @text-color-white;

  &__inner-wrapper {
    width: auto;
    margin: 0 auto;
  }

  &__btn {
    display:block;
    width: 280px;
    margin: 0;
    margin-left: 40px;
    margin-bottom: 44px;
    padding: 15px 35px;
    color: @text-color-white;
    font-weight: @font-weight-bold;
    text-align: @text-align;
    text-decoration: @text-decoration;
    font-size: @text-size-middle;
    border: 3px solid @border-color;
    border-radius: 30px;
    cursor: pointer;

    &:hover{
      background-color: @bg-white;
      color: @text-color-pink;
    }
    &:active{
      background-color: @bg-white;
      color:  @text-color-pink--active;
    }
  }

   &__icons {
    height: 57px;
    width: 205px;
    margin-left: 80px;
    background-image: url("@{patch}/sprite.png");
    margin-bottom: 32px;
  }

  &__text {
    font-size: @text-size-middle--tab;
    font-weight: @font-weight-light;
    line-height: @line-height;
    padding-top: 0;
    padding-right: 330px;
    padding-left: 30px;
    padding-bottom: 35px;
    margin: 0;
    text-align: @text-align;
  }
}

}



//------------------------- end of tablet ----------------//
/* desktop > 1200*/

@media (min-width: 1200px) and (max-width: 1440px){

 .download {
  position: relative;
  margin-top: -405px;
  color: @text-color-white;

  &__inner-wrapper {
    width: 960px;
    margin: 0 auto;
  }

  &__btn {
    display:block;
    width: 300px;
    margin: 0;
    margin-left: 15px;
    margin-bottom: 65px;
    padding: 12px 28px;
    color: @text-color-white;
    font-weight: @font-weight-bold;
    text-align: @text-align;
    text-decoration: @text-decoration;
    font-size: @text-size-middle+3px;
    border: 3px solid @border-color;
    border-radius: 30px;
    cursor: pointer;

    &:hover{
      background-color: @bg-white;
      color: @text-color-pink;
    }
    &:active{
      background-color: @bg-white;
      color:  @text-color-pink--active;
    }
  }

   &__icons {
    height: 57px;
    width: 205px;
    margin-left: 55px;
    background-image: url("@{patch}/sprite.png");
    margin-bottom: 55px;
  }

  &__text {
    display: block;
    width: 320px;
    font-size: @text-size-middle;
    font-weight: @font-weight-light;
    line-height: @line-height;
    padding-top: 0;
    padding-left: 0;
    margin: 0;
    margin-left:5px;
    text-align: @text-align;
  }
}

}

//------------------------- end of desctop 1200 1440 ----------------//
