@font-face {
  font-family: "fontello";
  src: url("../font/fontello.eot?95483143");
  src: url("../font/fontello.eot?95483143#iefix") format("embedded-opentype"),
       url("../font/fontello.woff?95483143") format("woff"),
       url("../font/fontello.ttf?95483143") format("truetype"),
       url("../font/fontello.svg?95483143#fontello") format("svg");
  font-weight: normal;
  font-style: normal;

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 45px;
  line-height: 45px;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  border-radius: 50%;
}

.icon-play:before { content: "\e800"; } /* "" */
.icon-facebook:before { content: "\e801"; } /* "" */
.icon-twitter:before { content: "\e802"; } /* "" */

@media (min-width: 1200px){

  [class^="icon-"]:before, [class*=" icon-"]:before {
    width: 50px;
    line-height: 50px;
  }
}
