// map:

/* mobile */
@media (min-width: 320px) and (max-width: 700px) {

.map {
    background-image: url("@{patch}/bg-map.png");
    background-position: 50vw 100vw;
    height: 212px;
    width: 100vw;
  }
} 

//------------------------- end of mobile ----------------//

/* tablet */

@media (min-width: 700px) and (max-width: 1200px) {

.map {
    background-image: url("@{patch}/bg-map.png");
    background-position: 50vw 100vw;
    height: 380px;
    width: 100vw;
  }

}