// page-header:

.page-header {
  background-image: url("@{patch}/bg-header-iphone.png"), url("@{patch}/bg-header.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 100%;
  background-position: 0 173px, 0 0;
  height: 458px;

  &__inner-wrapper {
    width: 320px;
    margin: 0 auto;
  }

  &__row {
    position: fixed;
    padding: 20px 20px;
    width: 320px;
    min-height: 66px;
    background-color: rgba(0,0,0,0.3);
    z-index: 100;

/*     &--opened {
  display: none;
  background-color: @text-color-dark-blue;
} */
  }

  &__container {
    position:relative;
  }

  &__logo {
    display: block;
  }

  &__logo-link {
    margin: 0;
    cursor: pointer;
    text-decoration: @text-decoration;
    color: @text-color-white;
    font-size: 32px;
    line-height: 24px;
    text-transform: @text-transform;
  }
  &__logo-img {
    position: absolute;
    top: 0;
    left: 0;
  }


  &__trigger {
    display:block;
    width: 50px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
    background: url("@{patch}/btn-open.png");

/*     &--opened {
  display: none;
  width: 23px;
  height: 22px;
  background: url("@{patch}/btn-close.png");
} */
  }

  &__text {
    font-size: @text-size-big;
    color: @text-color-white;
    font-weight: @font-weight-light;
    text-align: @text-align;
    line-height: @line-height;
    padding-top: 85px;
    padding-right: 45px;
    padding-left: 35px;
    margin: 0 auto;
  }
}


//------------------------- end of header ----------------//
