// page-header:

/* mobile */
@media (min-width: 320px) and (max-width: 700px) {
.page-header {
  background-image: url("@{patch}/bg-header-iphone.png"), url("@{patch}/bg-header.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 100vw 460px;
  background-position: 0 173px, 0 0;
  min-height: 460px;
  position: relative;

  &__inner-wrapper {
    width: auto;
margin: 0 auto;
  }

  &__row {
    position: fixed;
    padding: 20px (20/320)*100vw;
    width: 100vw;
    min-height: 66px;
    background-color: rgba(0,0,0,0.3);
    z-index: 100;

/* &--opened {
  display: none;
  background-color: @text-color-dark-blue;
} */
  }

  &__container {
    position:relative;
    min-height:24px;
  }

  &__logo {
    display: block;
  }

  &__logo-link {
    margin: 0;
    cursor: pointer;
    text-decoration: @text-decoration;
    color: @text-color-white;
    font-size: 32px;
    line-height: 24px;
    text-transform: @text-transform;
  }
  &__logo-icon {
    display:none;
  }
  &__logo-text {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 75px;
    height: 23px;
  } 


  &__trigger {
    background-image: url("@{patch}/btn-open.png");
    position: absolute;

    width: 48px;
    height: 24px;
    top: 0;
    right: 0;

/*     &--opened {
  display: none;
  width: 23px;
  height: 22px;
  background-image: url("@{patch}/btn-close.png");
} */ 
  }

  &__text {
    font-size: @text-size-big;
    color: @text-color-white;
    font-weight: @font-weight-light;
    text-align: @text-align;
    line-height: @line-height;
    padding-top: 85px;
    padding-right: 45px;
    padding-left: 35px;
    margin: 0 auto;
  }
}
}

//------------------------- end of mobile ----------------//

/* tablet */

@media (min-width: 700px) and (max-width: 1200px) {

.page-header {
  background-image: url("@{patch}/bg-header-iphone--tab.png"),url("@{patch}/bg-header--tab.jpg");
  background-repeat:  no-repeat,  no-repeat;
  background-size: 100vw,  100vw ;
  background-position: bottom 0px left 0px, 0 0;
  width: 100vw;
  height: 729px;

  &__inner-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  &__row {
    position: fixed;
    padding: 40px 40px 42px 40px;
    width: 100%;
    min-height: 110px;
    background-color: rgba(0,0,0,0.3);
    z-index: 100;

/* &--opened {
  display: none;
  background-color: @text-color-dark-blue;
} */
  }

  &__container {
    position:relative;
  }

  &__logo-link {
    margin: 0;
    cursor: pointer;
    text-decoration: @text-decoration;
    color: @text-color-white;
    font-size: 32px;
    line-height: 24px;
    text-transform: @text-transform;
  }

  &__logo-icon {
    position: absolute;
    display: inline-block;
    top: -17px;
    left: 0;
    width: 60px;
    height: 40px;
  }

  &__logo-text {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 70px;
    width: 75px;
    height: 23px;
  } 
  &__trigger {
    display:block;
    width: 50px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
    background: url("@{patch}/btn-open.png");

    /*  &--opened {
     display: none;
     width: 23px;
     height: 22px;
     background: url("@{patch}/btn-close.png");
        } */
  }

  &__text {
    font-size: @text-size-big--tab;
    color: @text-color-white;
    font-weight: @font-weight-light;
    text-align: @text-align;
    line-height: @line-height--tab;
    padding-top: 202px;
    margin: 0 auto 0 90px;
    display: block;
    width: 210px;
  }
}


}
