// price:

/* mobile */
@media (min-width: 320px) and (max-width: 700px) {

.price {
  position: relative;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 5px;
  background-color: @bg-light-grey;
  z-index: 10;

  &__slider {
    padding-bottom: 5px;
  }

  &__slider-wrapper{
    margin: 0 -254/320*100vw; /* 276-(320-276)/2=254 */
    text-align: center;
    white-space: nowrap;
/*     transform: translateX(-254px); */
  /*   width: 825px; */

  }

  &__item {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
/* width: 276px; */
    width: (276/320)*100vw;
    margin: 0 -1px;
    text-transform: @text-transform;

/*     &:first-child, &:last-child{
  width: 276px;
} */
  }

  &__name {
    position: relative;
    margin: 0;
    padding: 20px 0;
    color: @text-color-white;
    background-color: @table-head-color;
    font-size: @text-size-middle;
    font-weight: @font-weight-bold;
    line-height: @line-height + 6px;
    text-align: @text-align;
  }

  &__name--hit::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    margin-left: -2px;
    width: 74px;
    height: 73px;
    background: url("@{patch}/temp-ribbon.png") no-repeat 0 0;
  }


  &__cost {
    display: block;
    font-size: @text-size-big;
    font-weight: @font-weight-light;
    line-height: @line-height + 6px;
  }

  &__options {
    margin: 0;
    padding: 0;
    list-style: @list-style;
  }

  &__option {
    position: relative;
    margin: 0 -2px;
    padding: 20px;
    font-size: @text-size;
    text-align: left;
    background-color: @bg-white;
    border: 2px solid #e5e5e5;
    border-top: 0;
  }

  &__option--enabled::after,
  &__option--disabled::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 19px;
  }

  &__option--enabled::after {
    width: 27px;
    height: 20px;
    margin-top: -11px;
    background: url("@{patch}/sprite_icons.png") no-repeat 0 -4px;
  }

  &__option--disabled::after {
    width: 24px;
    height: 25px;
    margin-top: -13px;
    background: url("@{patch}/sprite_icons.png") no-repeat -30px -1px;
  }
}

.price::before {
  content:"";
  position: absolute;
  top: 0;
  margin:0;
  height: (32/320)*100vw;
  width: 100vw;
  background-image: linear-gradient(
    -5deg,
    @bg-light-grey (32/320)*100vw,
    @bg-white (32/320)*100vw
  );
}
}

//------------------------- end of mobile ----------------//
/* tablet */

@media (min-width: 700px) and (max-width: 1200px) {

.price {
  position: relative;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 65px;
  background-color: @bg-light-grey;
  z-index: 10;

  &__slider {
    padding-bottom: 5px;
  }

  &__slider-wrapper{
    margin: 0 auto;
    white-space: nowrap;
    text-align: center;
    transform: translateX(77px);
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    width: 155px;
    margin: 0 -1px;
    text-transform: @text-transform;
  }

  &__name {
    position: relative;
    margin: 0;
    padding: 12px 0;
    color: @text-color-white;
    background-color: @table-head-color;
    font-size: @text-size + 2px;
    font-weight: @font-weight-bold;
    line-height: @line-height + 6px;
    text-align: @text-align;
  }

  &__name--hit::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    margin-left: 0;
    width: 74px;
    height: 73px;
    background: url("@{patch}/temp-ribbon.png") no-repeat 0 0;
    background-size: 60px 60px;
  }


  &__cost {
    display: block;
    font-size: @text-size-middle;
    font-weight: @font-weight-light;
    line-height: @line-height + 6px;
  }

  &__options {
    margin: 0;
    padding: 0;
    list-style: @list-style;
  }

  &__option {
/*     display: none; */
    position: relative;
    margin: 0 -2px;
    padding: 15px 10px;
    font-size: @text-size;
    text-align: left;
    background-color: @bg-white;
    border: 2px solid #e5e5e5;
    border-top: 0;
  }

  &__item:not(:nth-of-type(1)){
    color: transparent;
  }

  &__option--enabled::after,
  &__option--disabled::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 40%;

  }

  &__option--enabled::after {
    width: 27px;
    height: 20px;
    margin-top: -11px;
    background: url("@{patch}/sprite_icons.png") no-repeat 0 -4px;
  }

  &__option--disabled::after {
    width: 25px;
    height: 25px;
    margin-top: -13px;
    background: url("@{patch}/sprite_icons.png") no-repeat -30px -1px;
  }

  &__option-wrap {
/*     min-width: 154px; */
    margin-left: -154-20-2px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 21px;
    font-size: @text-size;
    text-align: left;
    background-color: @bg-white;
    border: 2px solid #e5e5e5;
    border-top: 0;
  }
/*   &__option-wrap:nth-of-type(2) {
  padding-right: 53px;
}
&__option-wrap:nth-child(3) {
  padding-right: 24px;
} */


}

.price::before {
  content:"";
  position: absolute;
  top: 0;
  margin:0;
  height: (32/320)*100vw;
  width: 100vw;
  background-image: linear-gradient(
    -5deg,
    @bg-light-grey (32/320)*100vw,
    @bg-white (32/320)*100vw
  );
}

}
//------------------------- end of tablet ----------------//
/* desktop > 1200 */

@media (min-width: 1200px){

.price {
  position: relative;
  overflow: hidden;
  padding-top: 60px + 90px;
  padding-bottom: 65px;
  background-color: @bg-light-grey;
  z-index: 10;

  &__slider {
    padding-bottom: 5px;
  }

  &__slider-wrapper{
    margin: 0 auto;
    white-space: nowrap;
    text-align: center;
    transform: translateX(117px);
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    width: 235px;
    margin: 0 -1px;
    text-transform: @text-transform;
  }

  &__name {
    position: relative;
    margin: 0;
    padding: 18px 0;
    color: @text-color-white;
    background-color: @table-head-color;
    font-size: @text-size-middle;
    font-weight: @font-weight-bold;
    line-height: @line-height + 6px;
    text-align: @text-align;
  }

  &__name--hit::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    margin-left: 0;
    width: 74px;
    height: 73px;
    background: url("@{patch}/temp-ribbon.png") no-repeat 0 0;
    background-size: 74px 73px;
  }


  &__cost {
    display: block;
    font-size: @text-size-big;
    font-weight: @font-weight-light;
    line-height: @line-height + 6px;
  }

  &__options {
    margin: 0;
    padding: 0;
    list-style: @list-style;
  }

  &__option {
/*     display: none; */
    position: relative;
    margin: 0 -2px;
    padding: 20px;
    font-size: @text-size-middle;
    text-align: left;
    background-color: @bg-white;
    border: 2px solid #e5e5e5;
    border-top: 0;
  }

  &__item:not(:nth-of-type(1)){
    color: transparent;
  }

  &__option--enabled::after,
  &__option--disabled::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 40%;

  }

  &__option--enabled::after {
    width: 27px;
    height: 20px;
    margin-top: -11px;
    background: url("@{patch}/sprite_icons.png") no-repeat 0 -4px;
  }

  &__option--disabled::after {
    width: 25px;
    height: 25px;
    margin-top: -13px;
    background: url("@{patch}/sprite_icons.png") no-repeat -30px -1px;
  }

  &__option-wrap {
/*     min-width: 154px; */
    margin-left: -235-20-2px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 44px;
    font-size: @text-size-middle;
    text-align: left;
    background-color: @bg-white;
    border: 2px solid #e5e5e5;
    border-top: 0;
  }
/*   &__option-wrap:nth-of-type(2) {
  padding-right: 53px;
}
&__option-wrap:nth-child(3) {
  padding-right: 24px;
} */

}

.price::before {
  content:"";
  position: absolute;
  top: 0;
  margin:0;
  height: (90/1200)*100vw;
  width: 100vw;
  background-image: linear-gradient(
    -4deg,
    @bg-light-grey (90/1200)*100vw,
    @bg-white (90/1200)*100vw
  );
}
}
