// promo:

/* mobile */
@media (min-width: 320px) and (max-width: 700px) {
.promo {
  margin: 0;

  &__header {
    padding-top: 45px;
    padding-bottom: 32px;
    background-color: @bg-white;
  }

  &__header-h2 {
    padding: 0;
    width: 210px;
    margin: 0 auto;
    padding-bottom: 35px;
    color: @text-color-dark-blue;
    font-size: @text-size-middle;
    font-weight: @font-weight-light;
    line-height: @line-height;
    text-align: @text-align;
  }

  &__container {
    position: relative;
    padding-top: 45px;
    padding-bottom: 280px;
    background-color: @bg-light-grey;

    &:before {
      content:"";
      position: absolute;
      margin: 0;
      width: 100vw;
      height: (32/320)*100vw;
      top: -(32/320)*100vw;
      background-image: linear-gradient(
        -5deg,
        @bg-light-grey (32/320)*100vw,
        @bg-white (32/320)*100vw
      );
      }
    }

  &__inner-wrapper {
    margin: 0 auto;
    width: 320px;
    position: relative;

    &:after {
      content:"";
      position: absolute;
      background: @bg-light-grey url("@{patch}/bg-promo.png") no-repeat 0 0;
      width: 160px;
      height: 280px;
      left: 80px;
      bottom: -290px;
    }
  }

  &__list {
    padding:0;
    margin-bottom: 10px;
    margin-top: 0;
  }

  &__item {
    margin: 0;
    list-style: @list-style;
    text-align: @text-align;
  }

  &__name {
    margin: 0;
    margin-bottom: 15px;
    color: @text-color-black;
    font-size: @text-size-middle;
    font-weight: @font-weight-bold;
    line-height: @line-height;
    text-align: @text-align;

  }
  &__detail {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    color: @text-color-dark-blue;
    font-size: @text-size;
    font-weight: @font-weight-regular;
    line-height: @line-height;
    text-align: @text-align;
  }


}
}
//------------------------- end of promo ----------------//

/* tablet */

@media (min-width: 700px) and (max-width: 1200px) {

  .promo {
    padding: 0;
    margin: 0;
    margin-top: 117px;

    &__header {
      padding-top: 45px;
      padding-bottom: 32px+50px;
      background-color: @bg-white;
    }

    &__header-h2 {
      padding:0;
      margin: 0 auto;
      width: 620px;
      color: @text-color-dark-blue;
      font-size: @text-size-big--tab;
      font-weight: @font-weight-light;
      line-height: @line-height--tab;
      text-align: @text-align;
    }
    &__header-h2:last-child{
      width: 340px;
      margin-bottom: 35px;
    }

    &__container {
      position: relative;
      padding-top: 5px;
      padding-bottom: 0;
      background-color: @bg-light-grey;

      &:before {
        content:"";
        position: absolute;
        margin: 0;
        width: 100vw;
        top: -(32/320)*100vw;
        height: (32/320)*100vw;
        background-image: linear-gradient(
          -5deg,
          @bg-light-grey (32/320)*100vw,
          @bg-white (32/320)*100vw
        );
      }
    }

    &__inner-wrapper {
      margin: 0 auto;
      width: 640px;
      position: relative;

      &:after {
        content:"";
        position: absolute;
        background: url("@{patch}/bg-promo--tab.png") no-repeat 0 0;
        bottom: 0;
        width: 268px;
        height: 480px;
        left: 10px;
      }
    }

    &__list {
      display: block;
      width: 330px;
      padding: 0;
      margin-bottom:0;
      margin-top: 15px;
      margin-left: 320px;
      padding-bottom: 15px;
    }

    &__item {
      margin: 0;
      list-style: @list-style;
    }

    &__name {
      margin: 0;
      margin-bottom: 12px;
      color: @text-color-black;
      font-size: @text-size-middle;
      font-weight: @font-weight-bold;
      line-height: @line-height;
    }

    &__detail {
      margin: 0;
      margin-bottom: 35px;
      color: @text-color-dark-blue;
      font-size: @text-size;
      font-weight: @font-weight-regular;
      line-height: @line-height;
    }
  }
}

//------------------------- end of tablet ----------------//
/* desktop > 1200*/

@media (min-width: 1200px){

  .promo {
    margin: 0;
    padding: 0;
    margin-top: 122px;


    &__header {
      padding-top: 65px;
      padding-bottom: 32px+50px;
      background-color: @bg-white;
    }

    &__header-h2 {
      padding:0;
      margin: 0 auto;
      width: 960px;
      color: @text-color-dark-blue;
      font-size: @text-size-big--desk;
      font-weight: @font-weight-light;
      line-height: @line-height--desk;
      text-align: @text-align;
    }

    &__header-h2:last-child{
      width: 500px;
      margin: 0 auto;
      margin-bottom: 105px;
    }

    &__container {
      position: relative;
      background-color: @bg-light-grey;
      padding-top: 247px;

      &:before {
        content:"";
        position: absolute;
        margin: 0;
        width: 100%;
        width: 100vw;
        top: -(90/1220)*100vw;
        height: (90/1220)*100vw;
        background-image: linear-gradient(
          -4.2deg,
          @bg-light-grey (90/1220)*100vw,
          @bg-white (90/1220)*100vw
        );
      }
    }

    &__inner-wrapper {
      position: relative;
      margin: 0 auto;
      width: 960px;

      &:after {
        content:"";
        display: block;
        position: absolute;
        background:
          url("@{patch}/iphone-screen-3-3@1x.png") no-repeat 654px 0,
          url("@{patch}/iphone-screen-3-2@1x.png") no-repeat 334px 0,
          url("@{patch}/iphone-screen-3-1@1x.png") no-repeat 14px 0;
        bottom: 347px;
        left: 0;
        width: 960px;
        height: 302px;
        margin: 0;
      }
    }

    &__list {
      padding: 0;
      margin: 0;
      list-style: @list-style;
    }

    &__item {
      margin: 0;
      margin-right:-0.2em;
      display: inline-block;
      width: 320px;
      text-align: @text-align;
    }

    &__name {
      margin: 0;
      margin-bottom: 50px;
      padding: 0 25px;
      color: @text-color-black;
      font-size: @text-size-big+6px;
      font-weight: @font-weight-bold;
      line-height: @line-height+6px;
    }

    &__detail {
      margin: 0;
      padding: 0 35px;
      padding-bottom: 65px;
      color: @text-color-dark-blue;
      font-size: @text-size-middle;
      font-weight: @font-weight-regular;
      line-height: @line-height+6px;
    }
  }
}

//------------------------- end of desctop 1200 1440 ----------------//
