// review:

.review {
    overflow: hidden;

  &__slider{
  }

  &__slider-wrapper {
    margin: 0px auto;
    padding: 0px;
    white-space: nowrap;
    letter-spacing: -2px;
  }

  &__slide {
    display: inline-block;
    vertical-align: top;
    width: 320px;
    font-size: 0;
    white-space: normal;
    letter-spacing: normal;
    margin: 0;
  }

  &__author {
    color: @text-color-black;
    text-align: @text-align;
    font-size: @text-size-middle;
    font-weight: @font-weight-bold;
    line-height: @line-height + 6px;
    margin: 0 auto;
    padding-top: 45px;
  }

  &__blockquote {
    color: @text-color-dark-blue;
    text-align: @text-align;
    font-size: @text-size;
    font-weight: @font-weight-regular;
    line-height: @line-height + 6px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }

}

//------------------------- end of review ----------------//
