// review:

.review {

  &__slider{
    overflow: hidden;
  }

  &__slider-wrapper {
    margin: 0px auto;
  }

  &__slide {
    display: inline-block;
    font-size: 0;
    width: 320px;
    overflow: hidden;
    vertical-align: top;
  }

  &__slide::nth-child(2) {
    transform: translateX(320px);
  }

  &__slide::nth-child(3) {
    transform: translateX(320px*2);
  }

  &__author {
    color: @text-color-black;
    text-align: @text-align;
    font-size: @text-size-middle;
    font-weight: @font-weight-bold;
    line-height: @line-height + 6px;
    margin: 0 auto;
    padding-top: 45px;
  }

  &__blockquote {
    color: @text-color-dark-blue;
    text-align: @text-align;
    font-size: @text-size;
    font-weight: @font-weight-regular;
    line-height: @line-height + 6px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }

}

//------------------------- end of review ----------------//
