// review:

.review {

  &__author {
    color: @text-color-black;
    text-align: @text-align;
    font-size: @text-size-middle;
    font-weight: @font-weight-bold;
    line-height: @line-height + 6px;
    margin: 0 auto;
    padding-top: 45px;
  }

  &__blockquote {
    color: @text-color-dark-blue;
    text-align: @text-align;
    font-size: @text-size;
    font-weight: @font-weight-regular;
    line-height: @line-height + 6px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px; 
    padding-top: 20px;
  }

}

//------------------------- end of review ----------------//