.slider-control {
  width: 64px;
  height: 12px;
  padding-top: 30px;
  padding-bottom: 60px;
  margin: 0 auto;
  text-align: @text-align;

  &__item {
    display:inline-block;
    width: 6px;
    height: 6px;
    margin: 0;
    margin-right: 6px;
    background-color: #bec2c7;
/*     border: 3px solid @bg-light-grey; */
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;  

    &--current {
      width: 12px;
      height: 12px;
      background-color: @bg-white;
      border: 3px solid #273544;
    }
  }
}