// review:

/* mobile*/

.review {

  &__slider{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 60px;
  }

  &__slider input[type=radio] {
    display: none;
  }

  &__slider-inner {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
  }

  &__slide {
    float: left;
    display: block;
    width: 33.333333%;
  }

  &__author {
    margin: 0;
    padding-top: 45px;
    color: @text-color-black;
    text-align: @text-align;
    font-size: @text-size-middle;
    font-weight: @font-weight-bold;
    line-height: @line-height + 6px;
  }

  &__blockquote {
    margin: 0;
    padding-top: 20px;
    color: @text-color-dark-blue;
    text-align: @text-align;
    font-size: @text-size;
    font-weight: @font-weight-regular;
    line-height: @line-height + 6px;
  }

  &__author-info{
    display: none;
  }
}

//------------------------- end of mobile ----------------//

/* tablet */

@media (min-width: 700px) and (max-width: 1200px) {

  .review {

    &__container {
      display: table;
      border-spacing: 35px;
    }

    &__author {
      display: table-footer-group;
      font-size: @text-size + 6px;
    }

    &__blockquote {
      display: table-header-group;
      font-size: @text-size-middle;
    }

    &__author-info {
      display: block;
      margin: 0 auto;
      margin-top:-20px;
      padding-bottom: 20px;
      font-size: @text-size;
      text-align: @text-align;
    }
  }
}

//------------------------- end of tablet ----------------//
/* desktop >1200*/

@media (min-width: 1200px){

  .review {

    &__slider{
      position: relative;
      padding-top: 50px;
      margin-bottom: 10px;

      &:after {
        position: absolute;
        display: block;
        content: "";
        background: url("@{patch}/deco-quotes.png") no-repeat 0 0;
        background-image: url("@{patch}/quotes.svg"), none;
        top: 74px;
        right: 47%;
        width: 79px;
        height: 64px;
      }
    }

    &__slide {
      float: left;
      display: block;
      width: 33.333333%;
      margin-bottom: 35px;
      margin-top: 100px;
    }  

    &__container {
      display: table;
      width: 780px;
      border-spacing: 35px;
      margin: 0 auto;
    }

    &__author {
      display: table-footer-group;
      font-size: @text-size-big;
    }

    &__blockquote {
      display: table-header-group;
      font-size: @text-size-middle;

      &-quotes {
        color: @text-color-white;
      }
    }

    &__author-info {
      display: block;
      margin: 0 auto;
      margin-top:-20px;
      font-size: @text-size-middle;
      text-align: @text-align;
    }
  }
}
//------------------------- end of desktop ----------------//